#home
{
	background-image: url(./img/home/home.jpg);
    background-size: cover; /* or "contain" based on your preference */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
}
.overlay {
    padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
	text-align: center;
}
#about {
	padding: 120px 0;
}
#about h3 {
	font-size: 20px;
}
#about .about-text {
	margin-left: 10px;
}
#about .about-img {
	display: inline-block;
	position: relative;
}
#about .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}
footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }

  .text-body-secondary {
    color: #6c757d; /* Adjust the color to your preference */
  }

  .social-icons i {
    font-size: 1.5rem;
  }

  .contact-container {
	max-width: 800px;
	margin: 50px auto;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .contactUs {
	margin-top: 20px;
  }

  /* Our Restaurant Section */

  /* Restaurant Section */
/* Restaurant Section */
#Restaurant {
	padding: 0 0 120px 0;
}
#Restaurant .section-title {
	background: #444 url(../img/gallery-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#Restaurant .section-title h2 {
	color: #fff;
}
.img-responsive
{
	display: block;
  max-width: 100%;
  height: auto;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.Restaurant-item {
	margin: 15px 0;
}
.Restaurant-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.Restaurant-item .hover-bg:before {
	display: block;
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 1px solid rgba(255, 255, 255, 0.6);
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Menu Section */

/* Menu Section */
#restaurant-menu {
	padding: 0 0 60px 0;
}
#restaurant-menu .section-title {
	background: #444 url(../img/menu-bg.jpg) center center no-repeat fixed;
	background-size: cover;
}
#restaurant-menu .section-title h2 {
	color: #fff;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 26px;
	display: block;
	font-weight: 500;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 35px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 600;
	font-size: 17px;
	color: #555;
	border-bottom: 2px dotted rgb(213, 213, 213);
}
#restaurant-menu .menu-item-description {
	font-style: italic;
	font-size: 15px;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 600;
	color: #555;
	margin-top: -26px;
}
.menu-item {
	position: relative;
	overflow: hidden;
  }

  .menu-item:hover .overlayy {
	display: block;
	cursor: pointer;
  }

  .overlayy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.384);
	color: #fff;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
  }